*{
  background-color: teal;
}
.App {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.timer {
  font-size: 18px;
  margin-bottom: 20px;
}

.typing-box {
  margin-bottom: 20px;
}

input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  text-align: center;
}

.keys-to-type {
  font-size: 18px;
  margin-bottom: 20px;
}

.keys-to-type span {
  padding: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
  border-radius: 5px;
}

.stats {
  font-size: 18px;
}

.stats div {
  margin-bottom: 10px;
}
